body, html{
    /* background-color: #0a0f1f; */
    background: #1b1a1a;
    font-family: "Roboto", sans-serif;
}

/* navbar */

.navbar{
    top: 0;
    z-index: 1000;
    background-color: rgba(27,26,26,0.4);
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    width: 100%;
}

.navbar p{
    color: white;
    cursor: pointer;
    min-width: 62px;
    max-width: 62px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    font-size: 1rem;
}

.active{
    color: #43a25a !important;
}

/* lang button */

.lang-btn{
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  padding: none;
  cursor: pointer;
  overflow: hidden;
}

.lang-btn img{
  width: 100%;
  border-radius: 50%;
}

/* main content div */

.content-scroll{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    overflow: scroll;
}

.content-scroll > * {
    margin: 0;
  }

.content-scroll hr{
  border: 0;
  border: 1px solid rgb(70, 70, 70);
  margin: 20px auto;
  width: 65%;
}

/* */

.head-shot{
    margin-bottom: 20px;
}

.position-location{
    display: flex;
    align-items: center;
    gap: 10px;
}
/*
.position-location img{
   can change color using this filter: invert(8%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
} 
  */

.position-location span{
    padding-left: 5px;
}

.title-5xl{
    color: white;
    font-size: 2.25rem;
    margin-bottom: -8px;
}

.title-3xl{
    color: gray;
    font-size: 1.15rem;
    font-weight: 300;
}

.title-2xl{
  color: rgb(168, 168, 168);
  margin-top: 15px;
  font-size: 1.15rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.pointer{
  cursor: pointer;
}

/* social icons */

.socials{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.social-icon{
    width: 30px;
    opacity: 0.5;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.4s ease;
}

.social-icon:hover {
  transform: scale(1.2) rotate(5deg); /* 20% bigger, slight right tilt */
  opacity: 1;
}

/* stack */

.stack{
  text-align: center;
  margin: 0;
}

.stack p{
  color: lightgray;
  font-size: 1.75rem;
  margin: 0;
  margin-top: 15px !important;
}

.stack img{
  width: 30px;
  display: inline-block;
  margin: 3px;
  flex-direction: row;
  margin-top: 10px;
  cursor: pointer;
}