/* Global */
body, html {
    background: #1b1a1a;
    font-family: "Geist Mono", monospace;
    --green: #43a25a;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    max-width: 650px;
    margin: 60px auto;
    padding: 0 30px;
}

.content-scroll > * {
    margin: 0;
    text-align: left !important;
}

/* Header */
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.name-block {
    display: flex;
    flex-direction: column;
    gap: 0;
}

/* Profile Image */
.head-shot {
    width: 125px;
    margin: 20px 20px 0 0;
}

/* Responsive */
@media (max-width: 600px) {
    .header-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .head-shot {
        align-self: center;
    }
}

/* Titles */
.title-5xl {
    color: white;
    font-size: 1.75rem;
    margin: 0;
}

.title-3xl {
    color: gray;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.title-2xl {
    color: rgb(168, 168, 168);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 10px 0;
}

/* Location */
.location {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: -2px;
}

/* Socials */
.socials {
    display: flex;
    align-items: center;
    gap: 25px;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: gray;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.95rem;
}

.social-link:hover {
    color: var(--green);
}

.social-link:hover .icon {
    opacity: 1;
    filter: none; /* full color */
}

/* Email popup */
.email-item {
    position: relative;
}

.email-popup {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    background: #2b2b2b;
    padding: 6px 10px;
    border-radius: 6px;
    color: white;
    font-size: 0.8rem;
    white-space: nowrap;
}

/* Stack */
.stack {
    margin-top: 5px;
}

.stack-item {
    display: inline-block;
    position: relative;
    margin-right: 4px;
    cursor: pointer;
}

.stack img {
    width: 30px;
    cursor: pointer;
}

.stack-popup {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #2b2b2b;
    padding: 8px 10px;
    border-radius: 6px;
    color: white;
    font-size: 0.9rem;
}

.stack-item:hover .stack-popup {
    display: block;
}
